html
{
	background-image:url("../objects/images/background.jpg");
    background-position:center;
}
body
{
        width:1000px;
        margin-left:auto;
        margin-right:auto;
}
#sidebar
{
	width:150px;
	height:500px;
	float:left;
	background-color:black;
}
#main
{
	width:850px;
	height:500px;
	float:left;
	background-color:grey;
}
#pad
{
	margin-left:10px;
}
p.header
{
	color:white;
}
#header
{
	text-align:center;
	font-size:250%;
}
#white
{
	color:white;
}
